<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">
</head>

<body>
  <header class="header">
    <div class="header__container container">
      <nav class="header__nav">
        <img src="/assets/company-logo.svg" alt="Логотип компании EDE" class="header__logo">
        <ul class="header__nav-list">
          <li class="header__nav-item"><a href="" class="header__nav-item-link">{{headerNavItem1}}</a></li>
          <li class="header__nav-item"><a href="" class="header__nav-item-link">{{aboutCompany}}</a></li>
          <li class="header__nav-item"><a href="" class="header__nav-item-link">{{headerNavItem3}}</a></li>
        </ul>
        <button style="width: 100px;height: 100%; border: #ffffff 1px solid;" (click)="changeMenuText()">Изменить текст</button>
      </nav>
      <div class="header__right-block">
        <a href="tel:+79650842929" class="header__phone-number-info">
          <img src="/assets/phone-image.svg" alt="Позвонить нам" class="header__phone-image">
          {{headerPhoneNumber}}
        </a>
        <button type="button" class="header__product-liked">
          <img src="/assets/heart-icon-white.svg" alt="Ваши избранные товары" class="header__product-liked-logo">
        </button>
        <button type="button" class="header__cart">
          <img src="assets/cart-image.svg" alt="Ваша корзина" class="header__cart-logo">
          <span class="header__cart-product-volume">Пусто</span>
        </button>
      </div>
    </div>
  </header>



  <main class="main">
    <section class="nav-catalog main__nav-catalog">
      <div class="nav-catalog__container container">
        <div class="nav-catalog__menu menu">
          <button type="button" class="menu__menu-item menu__catalog-button">
            <img src="assets/burger-nav-button-icon.svg" alt="Открыть каталог" class="menu__burger-image">
            <img src="/assets/close-button-icon.svg" alt="Закрыть каталог" class="menu__close-image hidden">
            <span>{{menuItemCatalogTitle}}</span>
          </button>
          <button type="button" class="menu__menu-item" *ngFor="let menuItem of menuItems">
            {{menuItem}}
          </button>
        </div>
        <div class="nav-catalog__right-block">
          <form class="nav-catalog__search" action="">
            <input type="text" class="nav-catalog__search-input" placeholder="Поиск, например, Круг зачистной"
              type="search">
            <button type="button" class="nav-catalog__search-button">
            </button>
          </form>
          <button type="button" class="nav-catalog__location">
            <span>Москва</span>
          </button>
        </div>
      </div>
    </section>

    <button style="width: 150px; height: 100%; border: #000000 1px solid; display: block; background-color: #fff;" (click)="isHeroShow = !isHeroShow">Скрыть/показать баннер</button>
    <section class="hero main__hero" *ngIf="isHeroShow">
      <div class="container hero__container">
        <p class="hero__text">{{heroText}}</p>
      </div>
    </section>

    <section class="features main__features">
      <div class="container features__container">
        <div class="features__item">
          <img class="features__item-image" src="/assets/break-wall-icon.svg" alt="Упс,картинки нет">
          <p class="features__item-text">
            {{featuresItem1MainText}}
            <span class="features__item-text-secondary">{{featuresItem1SecondaryText}}</span>
          </p>
        </div>
        <div class="features__item">
          <img class="features__item-image" src="/assets/deliver-icon.svg" alt="Упс,картинки нет">
          <p class="features__item-text">
            {{featuresItem2MainText}}
            <span class="features__item-text-secondary">{{featuresItem2SecondaryText}}</span>
          </p>
        </div>
        <div class="features__item">
          <img class="features__item-image" src="/assets/thumbs-up-icon.svg" alt="Упс,картинки нет">
          <p class="features__item-text">
            <span class="features__item-text-secondary">{{featuresItem3SecondaryText1}}</span>
            {{featuresItem3MainText}}
            <span class="features__item-text-secondary">{{featuresItem3SecondaryText2}}</span>
          </p>
        </div>
      </div>
    </section>

    <section class="categories main__categories">
      <div class="container categories__container">
        <div class="categories__header">
          <ul class="categories__pagination-list">
            <li class="categories__pagination-item">
              <a href="" class="categories__pagination-link categories__pagination-link--active" *ngFor="let item of newPages">
                {{item}}
              </a>
            </li>
          </ul>
        </div>

        <div class="categories__items-container">
          <article class="categories__categories-card categories-card big-card">
            <div class="categories-card__container categories-card__container-center">
              <h3 class="categories-card__name">Строительный отделочный инструмент</h3>
              <div class="categories-card__footer">
                <a href="" class="categories-card__footer-link">
                  <span class="categories-card__footer-text">Перейти в каталог</span>
                  <span class="categories-card__footer-button"></span>
                </a>
              </div>
              <img src="/assets/product_1.png" alt="Строительный отделочный инструмент"
                class="categories-card__image categories-image__center-left">
            </div>
          </article>
          <article class="categories__categories-card categories-card">
            <div class="categories-card__container categories-card__container-right">
              <h3 class="categories-card__name">Эмали</h3>
              <div class="categories-card__footer">
                <a href="" class="categories-card__footer-link">
                  <span class="categories-card__footer-text">Перейти в каталог</span>
                  <span class="categories-card__footer-button"></span>
                </a>
              </div>
              <img src="/assets/product_2.png" alt="Эмали" class="categories-card__image categories-image__left">
            </div>
          </article>
          <article class="categories__categories-card categories-card">
            <div class="categories-card__container categories-card__container-left">
              <h3 class="categories-card__name">Лакокрасочные
                материалы</h3>
              <div class="categories-card__footer">
                <a href="" class="categories-card__footer-link">
                  <span class="categories-card__footer-text">Перейти в каталог</span>
                  <span class="categories-card__footer-button"></span>
                </a>
              </div>
              <img src="/assets/product_3.png" alt="Лакокрасочные материалы"
                class="categories-card__image categories-image__right-bottom">
            </div>
          </article>
          <article class="categories__categories-card categories-card">
            <div class="categories-card__container categories-card__container-left">
              <h3 class="categories-card__name">Пены, клеи и герметики</h3>
              <div class="categories-card__footer">
                <a href="" class="categories-card__footer-link">
                  <span class="categories-card__footer-text">Перейти в каталог</span>
                  <span class="categories-card__footer-button"></span>
                </a>
              </div>
              <img src="/assets/product_4.png" alt="Пены, клеи и герметики"
                class="categories-card__image categories-image__right">
            </div>
          </article>
          <article class="categories__categories-card categories-card">
            <div class="categories-card__container categories-card__container-center">
              <h3 class="categories-card__name">Розетки и выключатели</h3>
              <div class="categories-card__footer">
                <a href="" class="categories-card__footer-link">
                  <span class="categories-card__footer-text">Перейти в каталог</span>
                  <span class="categories-card__footer-button"></span>
                </a>
              </div>
              <img src="/assets/product_5.png" alt="Розетки и выключатели"
                class="categories-card__image categories-image__center-left">
            </div>
          </article>
        </div>
      </div>
    </section>

    <section class="product-block popular-products main__popular-products">
      <div class="container product-block__container">
        <div class="product-block__header">
          <h2 class="product-block__title">Популярные товары</h2>
          <a href="" class="product-block__show-all-link">Посмотреть все товары</a>
        </div>
        <div class="product-block__catalog-container">

          <button type="button" type="button" class="product-block__btn-to-left">
            <img style="width: 17px; height: 24px;" src="/assets/angle-bracket-icon.svg" alt="Кнопка прокрутить товары влево">
          </button>
          <button type="button" class="product-block__btn-to-right">
            <img style="width: 17px; height: 24px; rotate: 180deg;" src="/assets/angle-bracket-icon.svg" alt="Кнопка прокрутить товары вправо">
          </button>

          <article class="product-block__product-card product-card">
            <div class="product-card__container">
              <img src="/assets/product-card-image.jpg" alt="Изображение товара" class="product-card__img">
              <h3 class="product-card__title">Круг зачистной 125х6х22</h3>
              <span class="product-card__item-number">Артикул 00004</span>
              <span class="product-card__price-description">Цена за штуку</span>
              <div class="product-card__price">
                <span class="product-card__old-price">52 руб.</span>
                <span class="product-card__current-price">48 руб.</span>
              </div>
              <div class="product-card__footer">
                <div class="product-card__product-volume">
                  <span class="product-card__product-volume-text">
                    Количество
                  </span>
                  <div class="product-card__counter counter">
                    <button type="button" class="counter__product-volume-decrease">
                      <img class="counter__product-volume-image" src="/assets/minus-icon.svg" alt="Уменьшить количество товара на один">
                    </button>
                    <span class="counter__product-volume-digit">1</span>
                    <button type="button" class="counter__product-volume-increase">
                      <img class="counter__product-volume-image" src="/assets/plus-icon.svg" alt="Увеличить количество товара на один">
                    </button>
                  </div>
                </div>
                <button type="button" class="product-card__add-button">
                  <span>В корзину</span>
                </button>
                <button type="button" type="button" class="product-card__like-button">
                  <img class="product-card__like-button-image" src="/assets/heart-icon.svg" alt="Добавить товар в избранное">
                </button>
                <div class="product-card__discount-block">
                  <div class="product-card__tip-new hidden">
                    <span class="product-card__tip-text">Новинка</span>
                  </div>
                  <div class="product-card__tip-discount">
                    <span class="product-card__tip-text">%</span>
                  </div>
                </div>
              </div>
            </div>
          </article>

          <article class="popular-products__product-card product-card">
            <div class="product-card__container">
              <img src="/assets/product-card-image.jpg" alt="Изображение товара" class="product-card__img">
              <h3 class="product-card__title">Круг зачистной 125х6х22</h3>
              <span class="product-card__item-number">Артикул 00004</span>
              <span class="product-card__price-description">Цена за штуку</span>
              <div class="product-card__price">
                <span class="product-card__old-price">52 руб.</span>
                <span class="product-card__current-price">48 руб.</span>
              </div>
              <div class="product-card__footer">
                <div class="product-card__product-volume">
                  <span class="product-card__product-volume-text">
                    Количество
                  </span>
                  <div class="product-card__counter counter">
                    <button type="button" class="counter__product-volume-decrease">
                      <img class="counter__product-volume-image" src="/assets/minus-icon.svg" alt="Уменьшить количество товара на один">
                    </button>
                    <span class="counter__product-volume-digit">1</span>
                    <button type="button" class="counter__product-volume-increase">
                      <img class="counter__product-volume-image" src="/assets/plus-icon.svg" alt="Увеличить количество товара на один">
                    </button>
                  </div>
                </div>
                <button type="button" class="product-card__add-button">
                  <span class="product-card__add-button-text">В корзину</span>
                </button>
                <button type="button" type="button" class="product-card__like-button">
                  <img class="product-card__like-button-image" src="/assets/heart-icon.svg" alt="Добавить товар в избранное">
                </button>
                <div class="product-card__discount-block">
                  <div class="product-card__tip-new hidden">
                    <span class="product-card__tip-text">Новинка</span>
                  </div>
                  <div class="product-card__tip-discount">
                    <span class="product-card__tip-text">%</span>
                  </div>
                </div>
              </div>
            </div>
          </article>

          <article class="popular-products__product-card product-card">
            <div class="product-card__container">
              <img src="/assets/product-card-image.jpg" alt="Изображение товара" class="product-card__img">
              <h3 class="product-card__title">Круг зачистной 125х6х22</h3>
              <span class="product-card__item-number">Артикул 00004</span>
              <span class="product-card__price-description">Цена за штуку</span>
              <div class="product-card__price">
                <span class="product-card__old-price">52 руб.</span>
                <span class="product-card__current-price">48 руб.</span>
              </div>
              <div class="product-card__footer">
                <div class="product-card__product-volume">
                  <span class="product-card__product-volume-text">
                    Количество
                  </span>
                  <div class="product-card__counter counter">
                    <button type="button" class="counter__product-volume-decrease">
                      <img class="counter__product-volume-image" src="/assets/minus-icon.svg" alt="Уменьшить количество товара на один">
                    </button>
                    <span class="counter__product-volume-digit">1</span>
                    <button type="button" class="counter__product-volume-increase">
                      <img class="counter__product-volume-image" src="/assets/plus-icon.svg" alt="Увеличить количество товара на один">
                    </button>
                  </div>
                </div>
                <button type="button" class="product-card__add-button">
                  <span>В корзину</span>
                </button>
                <button type="button" type="button" class="product-card__like-button">
                  <img class="product-card__like-button-image" src="/assets/heart-icon.svg" alt="Добавить товар в избранное">
                </button>
                <div class="product-card__discount-block">
                  <div class="product-card__tip-new">
                    <span class="product-card__tip-text">Новинка</span>
                  </div>
                  <div class="product-card__tip-discount">
                    <span class="product-card__tip-text">%</span>
                  </div>
                </div>
              </div>
            </div>
          </article>

          <article class="popular-products__product-card product-card">
            <div class="product-card__container">
              <img src="/assets/product-card-image.jpg" alt="Изображение товара" class="product-card__img">
              <h3 class="product-card__title">Круг зачистной 125х6х22</h3>
              <span class="product-card__item-number">Артикул 00004</span>
              <span class="product-card__price-description">Цена за штуку</span>
              <div class="product-card__price">
                <span class="product-card__old-price">52 руб.</span>
                <span class="product-card__current-price">48 руб.</span>
              </div>
              <div class="product-card__footer">
                <div class="product-card__product-volume">
                  <span class="product-card__product-volume-text">
                    Количество
                  </span>
                  <div class="product-card__counter counter">
                    <button type="button" class="counter__product-volume-decrease">
                      <img class="counter__product-volume-image" src="/assets/minus-icon.svg" alt="Уменьшить количество товара на один">
                    </button>
                    <span class="counter__product-volume-digit">1</span>
                    <button type="button" class="counter__product-volume-increase">
                      <img class="counter__product-volume-image" src="/assets/plus-icon.svg" alt="Увеличить количество товара на один">
                    </button>
                  </div>
                </div>
                <button type="button" class="product-card__add-button">
                  <span>В корзину</span>
                </button>
                <button type="button" type="button" class="product-card__like-button">
                  <img class="product-card__like-button-image" src="/assets/heart-icon.svg" alt="Добавить товар в избранное">
                </button>
                <div class="product-card__discount-block">
                  <div class="product-card__tip-new">
                    <span class="product-card__tip-text">Новинка</span>
                  </div>
                  <div class="product-card__tip-discount hidden">
                    <span class="product-card__tip-text">%</span>
                  </div>
                </div>
              </div>
            </div>
          </article>

        </div>
      </div>
    </section>

    <section class="banner main__banner">
      <div class="container banner__container">
        <div class="banner__block">
          <span class="banner__description">Более 10 000 наименований</span>
          <h2 class="banner__title">Инструмент для вашего бизнеса, разнообразных марок</h2>
          <a href="" class="banner__link">Перейти в каталог</a>
          <img class="banner__image" src="/assets/banner-image.png" alt="Изображение баннера">
        </div>
      </div>
    </section>

    <section class="product-block new-products main__new-products">
      <div class="container product-block__container">
        <div class="product-block__header">
          <h2 class="product-block__title">Новинки</h2>
          <a href="" class="product-block__show-all-link">Посмотреть все товары</a>
        </div>
        <div class="product-block__catalog-container">

          <button type="button" class="product-block__btn-to-left">
            <img style="width: 17px; height: 24px;" src="/assets/angle-bracket-icon.svg" alt="Кнопка прокрутить товары влево">
          </button>
          <button type="button" class="product-block__btn-to-right">
            <img style="width: 17px; height: 24px; rotate: 180deg;" src="/assets/angle-bracket-icon.svg" alt="Кнопка прокрутить товары вправо">
          </button>

          <article class="product-block__product-card product-card">
            <div class="product-card__container">
              <img src="/assets/product-card-image.jpg" alt="Изображение товара" class="product-card__img">
              <h3 class="product-card__title">Круг зачистной 125х6х22</h3>
              <span class="product-card__item-number">Артикул 00004</span>
              <span class="product-card__price-description">Цена за штуку</span>
              <div class="product-card__price">
                <span class="product-card__old-price">52 руб.</span>
                <span class="product-card__current-price">48 руб.</span>
              </div>
              <div class="product-card__footer">
                <div class="product-card__product-volume">
                  <span class="product-card__product-volume-text">
                    Количество
                  </span>
                  <div class="product-card__counter counter">
                    <button type="button" class="counter__product-volume-decrease">
                      <img class="counter__product-volume-image" src="/assets/minus-icon.svg" alt="Уменьшить количество товара на один">
                    </button>
                    <span class="counter__product-volume-digit">1</span>
                    <button type="button" class="counter__product-volume-increase">
                      <img class="counter__product-volume-image" src="/assets/plus-icon.svg" alt="Увеличить количество товара на один">
                    </button>
                  </div>
                </div>
                <button type="button" class="product-card__add-button">
                  <span>В корзину</span>
                </button>
                <button type="button" type="button" class="product-card__like-button">
                  <img class="product-card__like-button-image" src="/assets/heart-icon.svg" alt="Добавить товар в избранное">
                </button>
                <div class="product-card__discount-block">
                  <div class="product-card__tip-new">
                    <span class="product-card__tip-text">Новинка</span>
                  </div>
                  <div class="product-card__tip-discount hidden">
                    <span class="product-card__tip-text">%</span>
                  </div>
                </div>
              </div>
            </div>
          </article>

          <article class="popular-products__product-card product-card">
            <div class="product-card__container">
              <img src="/assets/product-card-image.jpg" alt="Изображение товара" class="product-card__img">
              <h3 class="product-card__title">Круг зачистной 125х6х22</h3>
              <span class="product-card__item-number">Артикул 00004</span>
              <span class="product-card__price-description">Цена за штуку</span>
              <div class="product-card__price">
                <span class="product-card__old-price">52 руб.</span>
                <span class="product-card__current-price">48 руб.</span>
              </div>
              <div class="product-card__footer">
                <div class="product-card__product-volume">
                  <span class="product-card__product-volume-text">
                    Количество
                  </span>
                  <div class="product-card__counter counter">
                    <button type="button" class="counter__product-volume-decrease">
                      <img class="counter__product-volume-image" src="/assets/minus-icon.svg" alt="Уменьшить количество товара на один">
                    </button>
                    <span class="counter__product-volume-digit">1</span>
                    <button type="button" class="counter__product-volume-increase">
                      <img class="counter__product-volume-image" src="/assets/plus-icon.svg" alt="Увеличить количество товара на один">
                    </button>
                  </div>
                </div>
                <button type="button" class="product-card__add-button">
                  <span>В корзину</span>
                </button>
                <button type="button" type="button" class="product-card__like-button">
                  <img class="product-card__like-button-image" src="/assets/heart-icon.svg" alt="Добавить товар в избранное">
                </button>
                <div class="product-card__discount-block">
                  <div class="product-card__tip-new">
                    <span class="product-card__tip-text">Новинка</span>
                  </div>
                  <div class="product-card__tip-discount hidden">
                    <span class="product-card__tip-text">%</span>
                  </div>
                </div>
              </div>
            </div>
          </article>

          <article class="popular-products__product-card product-card">
            <div class="product-card__container">
              <img src="/assets/product-card-image.jpg" alt="Изображение товара" class="product-card__img">
              <h3 class="product-card__title">Круг зачистной 125х6х22</h3>
              <span class="product-card__item-number">Артикул 00004</span>
              <span class="product-card__price-description">Цена за штуку</span>
              <div class="product-card__price">
                <span class="product-card__old-price">52 руб.</span>
                <span class="product-card__current-price">48 руб.</span>
              </div>
              <div class="product-card__footer">
                <div class="product-card__product-volume">
                  <span class="product-card__product-volume-text">
                    Количество
                  </span>
                  <div class="product-card__counter counter">
                    <button type="button" class="counter__product-volume-decrease">
                      <img class="counter__product-volume-image" src="/assets/minus-icon.svg" alt="Уменьшить количество товара на один">
                    </button>
                    <span class="counter__product-volume-digit">1</span>
                    <button type="button" class="counter__product-volume-increase">
                      <img class="counter__product-volume-image" src="/assets/plus-icon.svg" alt="Увеличить количество товара на один">
                    </button>
                  </div>
                </div>
                <button type="button" class="product-card__add-button">
                  <span>В корзину</span>
                </button>
                <button type="button" type="button" class="product-card__like-button">
                  <img class="product-card__like-button-image" src="/assets/heart-icon.svg" alt="Добавить товар в избранное">
                </button>
                <div class="product-card__discount-block">
                  <div class="product-card__tip-new">
                    <span class="product-card__tip-text">Новинка</span>
                  </div>
                  <div class="product-card__tip-discount hidden">
                    <span class="product-card__tip-text">%</span>
                  </div>
                </div>
              </div>
            </div>
          </article>

          <article class="popular-products__product-card product-card">
            <div class="product-card__container">
              <img src="/assets/product-card-image.jpg" alt="Изображение товара" class="product-card__img">
              <h3 class="product-card__title">Круг зачистной 125х6х22</h3>
              <span class="product-card__item-number">Артикул 00004</span>
              <span class="product-card__price-description">Цена за штуку</span>
              <div class="product-card__price">
                <span class="product-card__old-price">52 руб.</span>
                <span class="product-card__current-price">48 руб.</span>
              </div>
              <div class="product-card__footer">
                <div class="product-card__product-volume">
                  <span class="product-card__product-volume-text">
                    Количество
                  </span>
                  <div class="product-card__counter counter">
                    <button type="button" class="counter__product-volume-decrease">
                      <img class="counter__product-volume-image" src="/assets/minus-icon.svg" alt="Уменьшить количество товара на один">
                    </button>
                    <span class="counter__product-volume-digit">1</span>
                    <button type="button" class="counter__product-volume-increase">
                      <img class="counter__product-volume-image" src="/assets/plus-icon.svg" alt="Увеличить количество товара на один">
                    </button>
                  </div>
                </div>
                <button type="button" class="product-card__add-button">
                  <span>В корзину</span>
                </button>
                <button type="button" type="button" class="product-card__like-button">
                  <img class="product-card__like-button-image" src="/assets/heart-icon.svg" alt="Добавить товар в избранное">
                </button>
                <div class="product-card__discount-block">
                  <div class="product-card__tip-new">
                    <span class="product-card__tip-text">Новинка</span>
                  </div>
                  <div class="product-card__tip-discount hidden">
                    <span class="product-card__tip-text">%</span>
                  </div>
                </div>
              </div>
            </div>
          </article>

        </div>
      </div>
    </section>
  </main>



  <footer class="footer">
    <div class="container footer__container">
      <div class="footer__top-block">
        <div class="footer__contacts-block">
          <img class="footer__contacts-block-image" src="/assets/company-logo.svg" alt="Логотип компании EDE">
          <div class="footer__contacts">
            <div class="footer__phone-block">
              <img class="footer__phone-block-image" src="/assets/call-icon.svg" alt="Наши контактные номера">
              <div class="footer__phone-numbers">
                <span class="footer__phone-numbers-text" >Контактный телефон</span>
                <a class="footer__phone-numbers-link" href="tel:+78123090934">+ 7 (812) 309-09-34</a>
                <a class="footer__phone-numbers-link" href="tel:+79650842909">+ 7 (965) 084-29-09</a>
              </div>
            </div>
            <div class="footer__mail-block">
              <img class="footer__mail-block-image" src="/assets/mail-icon.svg" alt="Наша электронная почта">
              <div class="footer__mail-contacts">
                <span class="footer__mail-contacts-text">Электронная почта</span>
                <a class="footer__mail-contacts-link" href="mailto:tustin78@mail.ru">tustin&#64;78mail.ru</a>
                <a class="footer__mail-contacts-link" href="mailto:info@tustin.ru">info&#64;tustin.ru</a>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__subscribe-block">
          <span class="footer__subscribe-title">Остались вопросы?</span>
          <span class="footer__subscribe-description">Узнавайте первым о скидках, предложениях и событиях еженедельно в
            своем почтовом ящике. Отпишитесь в любое время одним щелчком мыши.</span>
          <form action="" class="footer__subscribe-form">
            <img src="/assets/mail-icon.svg" alt="" class="footer__subscribe-email-img">
            <input type="email" class="footer__subscribe-input" placeholder="Введите свою почту">
            <button type="button" type="button" class="footer__subscribe-button">Отправить</button>
          </form>
        </div>
      </div>

      <div class="footer__bot-block">
        <nav class="footer__nav">
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <a class="footer__nav-item-link" href="">Главная</a>
            </li>
            <li class="footer__nav-item">
              <a class="footer__nav-item-link" href="">О компании</a>
            </li>
            <li class="footer__nav-item">
              <a class="footer__nav-item-link" href="">Каталог</a>
            </li>
          </ul>
        </nav>
        <ul class="footer__social-list">
          <li class="footer__social-item">
            <a class="footer__social-item-link" href="">
              <img src="/assets/facebook-icon.svg" alt="Иконка Facebook">
            </a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-item-link" href="">
              <img src="/assets/youtube-icon.svg" alt="Иконка Youtube">
            </a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-item-link" href="">
              <img src="/assets/whatsup-icon.svg" alt="Иконка Whatsup">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</body>

</html>